$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: white;
$color-black: black;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-blue-dark: #1f1fb6;
$color-blue-light: #6969ca;

$color-yellow-light: #c9c969;
$color-orange-dark: rgb(182, 131, 35);
