.booking {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  .book {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 0%,
        rgba($color-white, 0.8) 50%,
        transparent 50%
      ),
      url(../../img/nat-10.jpg);
    background-size: cover;
    background-position: top;
    height: 50rem;
    max-width: 100rem;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 2rem 3rem rgba($color-black, 0.4);

    @include respond(tab-land) {
      background-image: linear-gradient(
          105deg,
          rgba($color-white, 0.8) 0%,
          rgba($color-white, 0.8) 70%,
          transparent 30%
        ),
        url(../../img/nat-10.jpg);
      width: 80%;
    }

    @include respond(tab-port) {
      background-image: linear-gradient(
          105deg,
          rgba($color-white, 0.8) 0%,
          rgba($color-white, 0.8) 80%,
          transparent 10%
        ),
        url(../../img/nat-10.jpg);
      width: 90%;
    }

    @include respond(phone) {
      background-image: linear-gradient(
          105deg,
          rgba($color-white, 0.8),
          rgba($color-white, 0.8)
        ),
        url(../../img/nat-10.jpg);
      width: 90%;
    }

    .form {
      width: 50%;
      padding: 4.5rem;
      display: flex;
      flex-direction: column;

      &__heading {
        margin-bottom: 2.5rem;
        width: -moz-fit-content;
        width: fit-content;
        text-align: center;

        @include respond(tab-land) {
          margin: 0 auto 2.5rem;
        }
      }

      &__group {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem;

        @include respond(phone) {
          padding: 1rem 0.8rem;
          width: 100%;
        }

        &--radio {
          display: flex;
          gap: 2rem;

          @include respond(phone) {
            flex-direction: column;
          }
        }
      }

      &__input {
        padding: 1.5rem 2rem;
        width: 90%;
        border: none;
        border-radius: 3px;
        background-color: rgba($color-white, 0.5);
        font-size: 1.2rem;
        font-family: inherit;
        border-bottom: 3px solid transparent;

        @include respond(phone) {
          width: 100%;
          padding: 1rem 2rem;
        }

        &:focus {
          outline: none;
          border-bottom: 3px solid $color-primary-dark;

          &:invalid {
            border-bottom: 3px solid $color-orange-dark;
          }
        }
      }

      &__label {
        padding: 1rem 0 0 2rem;
        transition: all 0.3s;

        @include respond(phone) {
          padding: 0rem 0 0 2rem;
        }
      }

      input:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
      }

      &__radio-group {
        width: 100%;

        @include respond(phone) {
          margin-bottom: 2rem;
        }
      }

      &__radio-input {
        display: none;
      }

      &__radio-label {
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
      }

      &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary-dark;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.4rem;

        &::after {
          content: "";
          display: block;
          height: 1.3rem;
          width: 1.3rem;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: $color-primary-dark;
          opacity: 0;
          transition: opacity 0.2s;
        }
      }

      .form__radio-input:checked
        ~ .form__radio-label
        .form__radio-button::after {
        opacity: 1;
      }
      &__btn {
        width: max-content;
        margin-top: 3rem;
        background-color: $color-primary-dark;
        color: $color_white;

        @include respond(phone) {
          width: max-content;
          margin-top: 3rem auto;
        }
      }

      @include respond(tab-land) {
        width: 70%;
        padding: 3.5rem;
      }

      @include respond(tab-port) {
        width: 80%;
        padding: 3rem;
      }
      @include respond(phone) {
        width: 100%;
        padding: 3rem;
        // justify-content: center;
        // align-items: center;
      }
    }
  }
}
